name: flutter_tutorial
description: "Flutter Dependency Injection Tutorial | Clean Architecture + BLoC + Dio + get_it Explained"
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  dio:
  get_it:
  bloc:
  flutter_bloc:

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true